# Entorno virtual
.venv/

# Caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Pytest
.pytest_cache/

# MLflow
mlruns/
mlflow.db

# Modelos entrenados
models/*.pkl

# VS Code
.vscode/

# Windows
Thumbs.db